<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Error</title>
  <style>
    body{font-family:Arial;background:#ffecec;height:100vh;display:flex;align-items:center;justify-content:center;}
    .box{background:white;padding:30px;border-radius:12px;box-shadow:0 4px 10px rgba(0,0,0,0.2);text-align:center;}
    h2{color:red;}
  </style>
</head>
<body>
<div class="box">
  <h2>Error ❌</h2>
  <p th:text="${error}"></p>
  <br/>
  <a href="/" style="text-decoration:none;">⬅ Back</a>
</div>
</body>
</html>
